
<link href="{{ url_for('static', filename='css/icons/material-icons.css') }}" rel="stylesheet" type="text/css" >
<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" >
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/pureknob.js') }}"></script>
{% extends "bootstrap/base.html" %}

{% block content %}
<div class="sidebar">
  <a class="active" id="dashboard_options" style="text-decoration: none;" ><i class="material-icons">home</i></a>
  <a id="survey_options" style="text-decoration: none;"><i class="material-icons">list_alt</i></a>
  <a id="user_options" style="text-decoration: none;" ><i class="material-icons">group</i></a>

</div>

<div class="content">
   

    <div id="user_section" style="display:none;padding-top:30vh;">
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 ">
        <div class="alert alert-info back-widget-set text-center row">
            <div class="col-md-6 ccol-sm-6 col-xs-6">
           <i style="font-size: 65px;"class="material-icons">person_add</i>
              <br>
           <button id="one_user"type="button" class="btn btn-success">Add Surbodinate</button>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-6">
                <i style="font-size: 65px;"class="material-icons">group_add</i>
                   <br>
                <button type="button" class="btn btn-success">Bulk Surbodinates</button>
                 </div>
          </div>
      </div>
</div>

<div class="row" id="add_single_user" style="display:none;">

    <div class="col-md-12 col-sm-12 col-xs-12 ">
        <div class="alert alert-info back-widget-set text-center row">
            <div class="container">
               
                <br>
                <!-- Nav tabs -->
                <ul id="add_user"class="nav nav-tabs" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#home">Personal Details</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#menu1">Employment Details</a>
                  </li>
                  
                </ul>
              
                <!-- Tab panes -->
                <div class="tab-content">
                  <div id="home" class="container tab-pane active"><br>
                    <form  action="/admin" method="POST">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <button class="btn btn-outline-primary" type="button">First Name</button>
                        </div>
                        <input id="first_name" name="first_name"type="text" class="form-control" placeholder="Some text">
                      </div>


                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <button class="btn btn-outline-primary" type="button">Last Name</button>
                        </div>
                        <input id="last_name" name="last_name"type="text" class="form-control" placeholder="Some text">
                      </div>


                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <button class="btn btn-outline-primary" type="button">Email</button>
                        </div>
                        <input id="email"type="text" name="email"class="form-control" placeholder="Some text">
                      </div>



                      

                      <div class="justify-content-right float-right" ><button id="pd_next"type="button" class="btn">Next</button></div>
                             
                    </div>


                  





                  <div id="menu1" class="container tab-pane fade"><br>
                    


                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <button class="btn btn-outline-primary" type="button">Job Title</button>
                        </div>
                        <input id="job_title"type="text" name="job_title"class="form-control" placeholder="Some text">
                      </div>

                      <div class="btn-group float-right">
                        
                        <button type="button" class="btn" id="ed_back">Previous</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                      </div>
                    </form>
                  </div>




                  
                </div>
              </div>
            
          </div>
      </div>
    
</div>
        
    </div>

    <div id="survey_section" style="display:none;padding-top:30vh;">

        <div class="row" >
            
            <br>
            <br>
            <br>
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="alert alert-info back-widget-set text-center">
                   <i style="font-size: 65px;"class="material-icons">create</i>
                      
                      <br>
                      <button type="button" class="btn btn-success">Create Survey</button>
                     <br>
                  </div>
              </div>
        
              <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="alert alert-info back-widget-set text-center">
                   <i style="font-size: 65px;"class="material-icons">history</i>
                      
                      <br>
                      <button type="button" class="btn btn-success">Survey History</button>
                     <br>
                  </div>
              </div>
        
            </div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 ">
                    <div class="alert alert-info back-widget-set text-center row">
                        
                        
            
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="row text-center">
                                
                                Questions
                            </div>

                            <div class="row">
                                <div class="col-md-4 col-sm-4 col-xs-4 ">
                                    <div class="alert alert-info back-widget-set text-center row">
                                        <div class="col-sm-4">

                                            <span class="material-icons" id="add_question">
                                                add_circle_outline
                                                </span>
                                        </div>
    
                                      
                                        </div>
                                        </div>
                            </div>
                           
                               
                                    
                                
                           
                            <div id="questions">
                            

                                
                              </div>
                              <div>
                                <button  type="button" class="btn btn-success" onclick="survey_submit()">Submit</button>  
                                <div id="sur_view">
                                    dd
                                </div>
                              </div>
                             </div>
                      </div>
                  </div>
            </div>
    </div>
   <div id="dashboard_section" class="grid-container">
  <div class="item1">
    <div class="row">
            
        <div class="col-md-4 col-sm-4 col-xs-6">
             <div class="alert alert-info back-widget-set text-center">
                <i style="font-size: 65px;"class="material-icons">people</i>
                   <h3><b>{{subs_count}}
                </b> <i class="fa fa-dollar"></i></h3>
                  <span style="font-size: 13px;">Surbodinates</span>
               </div>
           </div>
           <div class="col-md-4 col-sm-4 col-xs-6">
            <div class="alert alert-info back-widget-set text-center">
               <i style="font-size: 65px;"class="material-icons">timelapse</i>
                  <h3><b>500</b> <i class="fa fa-dollar"></i></h3>
                 <span style="font-size: 13px;">Pending Surveys</span>
              </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-6">
            <div class="alert alert-info back-widget-set text-center">
               <i style="font-size: 65px;"class="material-icons">assignment_turned_in</i>
                  <h3><b>500</b> <i class="fa fa-dollar"></i></h3>
                 <span style="font-size: 13px;">Completed Surveys</span>
              </div>
          </div>
      

</div> 
  </div>
  
  <div class="item2">


    <div class="row">


        
        <div class="col-sm-6">
            <div class="panel panel-success">
                <div class="panel-heading">
                   Survey Progress
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-4">	<img class="img-fluid" src="https://miro.medium.com/max/1198/1*DIq4u0PzaPtayrRnpFr0BA.png" style="max-width: 100%; height: auto; "/><br><p style="font-size: 12px;">Salary Analysis</p></div>
                        <div class="col-sm-4"><img class="img-fluid" src="https://miro.medium.com/max/1198/1*DIq4u0PzaPtayrRnpFr0BA.png" style="max-width: 100%; height: auto; "/><br><p style="font-size: 12px;">Customer Analysis</p></div>
                        <div class="col-sm-4"><img class="img-fluid" src="https://miro.medium.com/max/1198/1*DIq4u0PzaPtayrRnpFr0BA.png" style="max-width: 100%; height: auto; "/><br><p style="font-size: 12px;">Procastination Overload</p></div>
                        <div class="col-sm-4"><img class="img-fluid" src="https://miro.medium.com/max/1198/1*DIq4u0PzaPtayrRnpFr0BA.png" style="max-width: 100%; height: auto; "/><br><p style="font-size: 12px;">Tinz Analysis</p></div>
                      </div>
                </div>
            </div>
            
            
        
        
        </div>

        <div class="col-sm-6">
            <div class="panel panel-success">
                <div class="panel-heading">
                   Survey History
                </div>
                <div class="panel-body">
            <div class="col-sm-12">
                <img class="img-fluid" src=" https://cloud.netlifyusercontent.com/assets/344dbf88-fdf9-42bb-adb4-46f01eedd629/5c3316c0-cacd-4f54-9e97-c2904781f9c7/simple-line-chart.png" style="max-width: 100%; height: auto; "/>
               
            </div>
            </div>
            </div>
        </div>
     
      </div>
   
   




    
  </div>
  <div class="item3">

  </div>  
   
  
   
</div>



  </div>

  <script>
    
  $("#one_user").click(function(){
document.getElementById('user_section').style.paddingTop = '3vh';
document.getElementById('add_single_user').style.display = 'block';

});
</script>
  <script>
      
    $("#dashboard_options").click(function(){
document.getElementById('survey_section').style.display = 'none';
document.getElementById('user_section').style.display = 'none';
document.getElementById('dashboard_section').style.display = 'block';
});
</script>

  <script>
      $("#survey_options").click(function(){
  document.getElementById('survey_section').style.display = 'block';
  document.getElementById('user_section').style.display = 'none';
  document.getElementById('dashboard_section').style.display = 'none';
});
  </script>

<script>
    $("#user_options").click(function(){
        document.getElementById('user_section').style.paddingTop = '30vh';
document.getElementById('add_single_user').style.display = 'none';
document.getElementById('survey_section').style.display = 'none';
document.getElementById('dashboard_section').style.display = 'none';
document.getElementById('user_section').style.display = 'block';
});
</script>
<script>
    $(function(){
    $('#pd_next').click(function(e){
    	e.preventDefault();
        $('#add_user a[href="#menu1"]').tab('show');
    }),
    $('#ed_back').click(function(e){
	    e.preventDefault();
        $('#add_user a[href="#home"]').tab('show');
    })  
})
</script>
<script>
    $("#add_question").click(function(){
        console.log($('.question_list').length+1);
        var question_count = $('.question_list').length+1;
        $("#questions").append('<div class="survey_question" id="question_'+question_count+'"><div class="question_list input-group mt-3 mb-3"><input id="input_'+question_count+'"type="text" class="form-control " placeholder="Enter question..."><div class="input-group-prepend"><button type="button" class="btn btn-outline-secondary dropdown-toggle justify-content-center" data-toggle="dropdown"><span id="qt_'+question_count+'">Question Type</span></button><div class="dropdown-menu"><span id="t_'+question_count+'" onclick="question_type(this.id)" class="dropdown-item text-center justify-content-center" >Text</span><span id="mc_'+question_count+'" onclick="question_type(this.id)" class="dropdown-item text-center justify-content-center" >Multiple Choice</span></div></div><button id="button_'+question_count+'" type="button" onclick="remove_question(this.id)" class="btn btn-danger">x</button></div></div>');
});
</script>
<script>
    function remove_question(id){
        
        var divv = id.substr(7)
        $("#question_"+divv).remove();
    }
</script>

<script>
    function question_type(id){
        var before_character = id.split('_')[0];
        var after_character=id.split('_')[1];
      
        if(before_character == 't'){
            var mc_count = $('.mc'+after_character).length+1;
           
            if(mc_count > 0){
                $('#question_' + after_character+' .option_count').remove();
            }
            $("#qt_"+after_character).html('Text'); 
        }
        else{
            var mc_count = $('.question_list').length+1;
            if(mc_count > 0){

            }
            $("#qt_"+after_character).html('Multiple Choice'); 
            $("#question_"+after_character).append('<div class="container mc'+after_character+' option_count"><div class="row"><div class="input-group mb-3"><div class="input-group-prepend"><span class="input-group-text">Option</span></div><input type="text" class="form-control option_'+after_character+'" placeholder="Username"><span class="material-icons" id="add_option_'+(parseInt(after_character))+'" onclick="add_option(this.id)">add_circle_outline</span></div></div></div>')
            
        }
    }
</script>

<script>
    function add_option(id){
        var after_special_character=id.split('_')[2];
        var option_count = $('#question_' + after_special_character+' .option_count').length+1;
   
        $("#question_"+after_special_character).append('<div class="container option_count mc'+after_special_character+'_'+option_count+'"><div class="row"><div class="input-group mb-3"><div class="input-group-prepend"><span class="input-group-text">Option</span></div><input type="text" class="form-control" placeholder="Username"></div><span class="material-icons" id="add_option_'+(parseInt(after_special_character))+'" onclick="add_option(this.id)">add_circle_outline</span></div></div>')
    }
</script>

<script>
    function survey_submit(){
        var movies = {
    'title': 'movie_title',
    'release_date': 'movie_release_date'
    }

        var survey = []
        var number_of_questions = $('.survey_question').length;
        for(i=0;i<number_of_questions;i++){
            var question_type = document.getElementById('qt_'+(i+1)).innerHTML;
            
            if(question_type == 'Text'){
                var question = (document.getElementById('input_'+(i+1)).value)
                survey.push([question_type,question])
            }
            else{
                var options = []
                var question = (document.getElementById('input_'+(i+1)).value)
                $('#question_'+(i+1)).find('input:text').each(function() {
    options.push($(this).val());
    
});
options.shift();
survey.push([question_type,question,options])
            }

        }
        $.get(
    url="/testt",
    data={host: [1,2,3]},
    success = function (data) {
        alert('page content: ' + data);
    }
)
       

    }
</script>
{% endblock %}


 